In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv('./0.train.csv')
df_train.head()

,job_level,job_duration_in_current_job_level,person_level,job_duration_in_current_person_level,job_duration_in_current_branch,Employee_type,gender,age,marital_status_maried(Y/N),number_of_dependences,...,year_graduated,job_duration_from_training,branch_rotation,job_rotation,assign_of_otherposition,annual leave,sick_leaves,Last_achievement_%,Achievement_above_100%_during3quartal,Best Performance
0,JG04,1.352775,PG03,1.352775,1.732051,RM_type_A,2,1985,Y,1,...,2011,4,2,3,2,3,0,46.37,0.0,0
1,JG04,1.292285,PG03,1.292285,1.039230,RM_type_A,2,1989,Y,0,...,2007,4,4,3,0,0,1,47.68,0.0,0
2,JG05,2.565151,PG06,2.308679,1.780449,RM_type_C,1,1970,Y,1,...,1989,28,10,9,6,2,1,40.73,0.0,0
3,JG05,2.828427,PG06,1.000000,1.385641,RM_type_A,2,1967,Y,2,...,1987,29,11,6,0,4,10,47.42,0.0,1
4,JG05,2.828427,PG06,2.828427,0.707107,RM_type_A,2,1965,Y,3,...,1985,30,9,8,2,3,0,47.18,0.0,0

In [3]:
neg, pos = np.bincount(df_train['Best Performance'].to_numpy())
print("negative class :", neg)
print("positive class :", pos)
print("total :", neg + pos)

negative class : 9516
positive class : 1637
total : 11153

# Split positive and negative class

In [4]:
by_class = df_train.groupby('Best Performance')

In [5]:
df_train_positive = by_class.get_group(1)
df_train_negative = by_class.get_group(0)

In [6]:
print(df_train_positive.shape)
print(df_train_negative.shape)

(1637, 22)
(9516, 22)

In [7]:
df_train_positive.to_csv("1.train_positive.csv", index=False)
df_train_negative.to_csv("1.train_negative.csv", index=False)